<div class="row"> 
	<div class="col-sm-12"> 
		<form id="formaddcontact"> 
			<input name="command" type="hidden" value="addcontact" />
			<div class="form-group"> 
				<label for="name">Name</label> 
				<input id="formaddcontact-name" name="name" type="text" placeholder="eg. user" class="form-control" minlength="3" required autofocus>
			</div>
			<div class="form-group"> 
				<label for="sip">SIP Address</label> 
				<input id="formaddcontact-sip" name="sip" type="email" placeholder="eg. user@example.net" value="{{sip}}" class="form-control" data-error="Not a valid sip address" required>
			</div>
		</form> 
	</div>  
</div>
