<div class="row"> 
	<div class="col-sm-12"> 
		<form id="formaddsip"> 
			<input name="command" type="hidden" value="addsip" />
			<div class="form-group"> 
				<label for="user">Username</label> 
				<input id="user" name="user" type="text" placeholder="eg. 631" class="form-control" required autofocus>
			</div>
			<div class="form-group"> 
				<label for="domain">Domain</label> 
				<input id="domain" name="domain" type="text" placeholder="eg. example.net" class="form-control" required>
			</div>
			<div class="form-group"> 
				<label for="password">Password</label> 
				<input id="password" name="password" type="password" class="form-control" required>
			</div>
		</form> 
	</div>  
</div>
