<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="changelogen-tab" data-toggle="tab" href="#changelogen" role="tab" aria-controls="changelogen" aria-selected="true">Changelog</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="credits-tab" data-toggle="tab" href="#credits" role="tab" aria-controls="credits" aria-selected="false">Credits</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="changelogen">

		<br>
		<a href="https://gitlab.com/studio.link/app/blob/v20.xx.x/CHANGELOG.md" target="_blank">https://gitlab.com/studio.link/app/blob/v20.xx.x/CHANGELOG.md</a>

		</div>
		<div role="tabpanel" class="tab-pane" id="credits">
			<h3>Credits/Licences</h3>
			<pre>
MIT LICENSE AGREEMENT FOR STUDIOLINK SOFTWARE:
Copyright (c) 2013-2021 Sebastian Reimers <studio.link>

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation the
rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
sell copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
			</pre>
			<h4>Third-Party</h4>
			<ul>
				<li><a href="http://opus-codec.org/license/" target="_blank">Opus</a></li>
				<li><a href="https://xiph.org/flac/license.html" target="_blank">Flac</a></li>
				<li><a href="https://www.openssl.org/source/license.html" target="_blank">OpenSSL</a></li>
				<li><a href="https://github.com/andrewrk/libsoundio/blob/master/LICENSE" target="_blank">libsoundio</a></li>
				<li><a href="https://github.com/alfredh/baresip/blob/master/docs/COPYING" target="_blank">Baresip</a></li>
				<li><a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">Bootstrap</a></li>
				<li><a href="http://www.mega-nerd.com/libsamplerate/license.html" target="_blank">Libsamplerate</a></li>
			</ul>
		</div>
	</div>
</div>
