<div class="btn-group-vertical text-monospace w-100" role="group" aria-label="DTMF Keyboard">
	<div class="btn-group">
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">1</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">2</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">3</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">4</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">5</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">6</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">7</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">8</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">9</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">*</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">0</button>
		<button type="button" class="btn btn-dtmf btn-outline-warning py-3 px-5 font-weight-bold">#</button>
	</div>
</div>
