<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>State</th>
	</thead>
	<tbody>
{{#each this}}
	<tr>
		{{#ifeq @key "monitoring"}}<td>Monitoring</td>{{/ifeq}}
		{{#ifeq @key "monorecord"}}<td>Mono Local Recording</td>{{/ifeq}}
		{{#ifeq @key "monostream"}}<td>Mono Remote Streaming</td>{{/ifeq}}
		<td>
			<p>
			{{#if this}}
			<button data-option="{{@key}}" data-value="" class="btn btn-success bt-lg option-change">
				Enabled
			</button>
			{{else}}
			<button data-option="{{@key}}" data-value="true" class="btn btn-danger bt-lg option-change">
				Disabled
			</button>
			{{/if}}
			</p>
		</td>
	</tr>
{{/each}}
	</tbody>
</table>
